:root{
    --color-Tan:#e6e2d3;
    --color-Traffic-white: #f0f0f0;
    --color-Yellow-green: #4caf50;
    --color-Vermillion-red: #c94c4c;
    --color-Blue: #008cba;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: Arial, Helvetica, sans-serif;
}

/* container */
.container {
	max-width: 1280px;
	margin: auto;
	padding: 1rem 0.5rem; 
}
/* search bar */
.searchBar{
    display: flex;
    flex-direction:row;
}
.searchBar__input{
    display:block;
    height:3em;
    width:50%;
    margin-left:15%;
    border: 0.2em solid #e6e2d3;
    border-radius: 0.3em;
}


.searchBar__submit{
    display:block;
    margin-left:7%;
    height:3em;
    width:8%;
    border: 0.1em solid #008cba;
    border-radius: 0.3em;
    background-color: var(--color-Blue);
}


/* tasks */
.tasks{
    display: flex;
    margin-left: 6vw;
    height:80vh;
    width: 50vw;
    flex-direction:column;
    margin-top: 5em;
    border: 0.3em solid #e6e2d3;
    border-radius: 0.3em;
    background-color: var(--color-Traffic-white);
}

.task{
    display: flex;
    flex-direction:row;
}

.task__edit-btn{
    width:2em;
    height:2em;
}

.task__del-btn{
    width:2em;
    height:2em;
}