:root{
    --color-Tan:#e6e2d3;
    --color-Traffic-white: #f0f0f0;
    --color-Yellow-green: #4caf50;
    --color-Vermillion-red: #c94c4c;
    --color-Blue: #008cba;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: Arial, Helvetica, sans-serif;
}

/* container */
.container {
	max-width: 1280px;
	margin: auto;
	padding: 1rem 0.5rem; 
}
/* search bar */
.searchBar{
    display: flex;
    flex-direction:row;
}
.searchBar__input{
    display:block;
    height:3em;
    width:50%;
    margin-left:15%;
    border: 0.2em solid var(--color-Tan);
    border-radius: 0.3em;
}


.searchBar__submit{
    display:block;
    margin-left:7%;
    height:3em;
    width:8%;
    border: 0.1em solid var(--color-Blue);
    border-radius: 0.3em;
    background-color: var(--color-Blue);
}


/* tasks */
.tasks{
    display: flex;
    margin-left: 6vw;
    min-height:50vh;
    width: 50vw;
    flex-direction:column;
    margin-top: 5em;
    border: 0.3em solid var(--color-Traffic-white);
    border-radius: 0.3em;
    background-color: var(--color-Traffic-white);
}

.task{
    display: flex;
    flex-direction:row;
    height:3em;
    border: 0.1em solid var(--color-Tan);
    border-radius: 0.3em;
    background-color: var(--color-Tan);
    margin-top: 1em;
    width:90%;
    margin-left:5%;
}
.task__body{
    flex:6;
    margin-right: 1em;
}

.task__body-text{
    height:100%;
    text-align: center;
    font-size: 1.3em;
    line-height: 2;
}


.task__edit-btn{
    margin-right: 1em;
    align-self: center;
    width:2.2em;
    height:2.2em;
    border-radius: 0.2em;
    background-color: var(--color-Blue);
}

.task__del-btn{
    margin-right: 1em;
    align-self: center;
    width:2.2em;
    height:2.2em;
    border-radius: 0.2em;
    background-color: var(--color-Vermillion-red);
}